.settings-button {
    display: flex;
    color: #4e4e4e;
    /* margin-left: auto; */
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}

.settings-button:hover {
    color: #03254c;
}

/* @media (max-width: 768px) {
    .settings-button {
        margin-right: 2rem;
    }
} */