.heading {
  margin: 0 0 1rem 0.15rem;
}

.menu {
  display: grid;
  width: 32rem;
  padding: 0;
  gap: 0;
}

.setting-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}

.setting-container:first-child {
  border-radius: 1rem 1rem 0 0;
}

.setting-container:last-child {
  border-radius: 0 0 1rem 1rem;
}

.setting-container:only-child {
  border-radius: 1rem;
}

.setting-container:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 0;
  height: 1px;
  background: #d1d1d1;
  pointer-events: none;
}

.setting-container:hover {
  background-color: #f5f6f7;
}

.setting-link {
  text-decoration: none;
  color: var(--foreground-color);
  padding: 1rem 1.5rem;
  width: 100%;
}

.description-content {
  font-size: 0.9rem;
  color: #4e4e4e;
}

.back-button {
  display: flex;
  width: fit-content;
  margin: 1rem 0;
  margin-right: auto;
  text-decoration: none;
  color: var(--foreground-color);
  /* background-color: #fff; */
  /* padding: .75rem; */
  /* border: 1px solid var(--border-color); */
  border-radius: 2rem;
  aspect-ratio: 1 / 1;
  transition: all 0.3s;
}

.back-button:hover {
  background-color: #f5f6f7;
}

@media (max-width: 768px) {
  .heading {
    margin: 0 0 1rem 1.15rem;
  }

  .tools-container {
    margin-right: 1rem;
  }

  .menu {
    width: initial;
    margin: 0 1rem;
  }

  .back-button {
    width: fit-content;
    margin: 1rem;
    margin-right: auto;
  }
}
